h1 {

    color: blue;
}

.anzeige{

    width: 50%;
    margin: auto;
    font-size: xx-large;
    text-align: center;
    border: 2px solid blue;
}

#staedte{

    cursor: pointer;
    font-size: larger;
    color: green;
}